<section class="section-nueva-transferencia">
    <label class="nombre-destino" for="nombre-destino">Nombre Destinatario</label>
    <br>
    <input [(ngModel)]="nombreDestinatario" placeholder="Ingrese el nombre completo del Destinatario" type="text" id="nombre-destino"> 
    <br>
    <label class="cuenta-destino" for="cuenta-destino">Cuenta de Destino</label>
    <br>
    <input [(ngModel)]="cuentaDestino" placeholder="Ingrese la cuenta a la que desea realizar la transferencia" type="number" id="cuenta-destino"> 
    <br>
    <label class="texto-concepto" for="concepto">Concepto</label>
    <br>
    <input [(ngModel)]="concepto" placeholder="Ingrese un concepto válido" type="text" id="concepto"> 
    <br>
    <label class="texto-importe" for="importe">Importe</label>
    <br>
    <input [(ngModel)]="importe" placeholder="Ingrese un importe" type="number" id="importe"> 
    <br>
    <button class="boton-enviar" (click)="guardarDatos()" type="submit">Enviar Transferencia</button>
  </section>
  
  
